form{
    margin-top: 25%;
    display: flex;
    justify-content: center;
}

.entrada{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.entrada label{
    font-size: 30px;
}

.entrada input{
    font-size: 25px;
}